<div    class="box box-default"       >
<div   class="box-header with-border">
  <h3 class="box-title"><a>
    سایت آموزش انگولار
    </a>
</h3>
</div>
<div class="box-body"  >
<nav>
  <ul>
    <li><a [routerLink]="['home']">صفحه ی اصلی</a>
</li>
<li><a [routerLink]="['contact']">تماس با ما</a>
</li>
<li><a [routerLink]="['about']">درباره ی ما</a>
</li>
<li><a [routerLink]="['introduction']">معرفی انگولار</a>
</li>
<li><a [routerLink]="['rform']">فرم ثبت نام</a>
</li>
</ul>
</nav>
<router-outlet></router-outlet>





</div>
<!--/.box-body-->
